In [2]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import scipy.stats as stats

conecuh = pd.read_csv('Conecuh.csv')
conecuh = conecuh.set_index('Year')
conecuh

      Flowcfs
Year
1941      369
1942      683
1943      923
1944     1193
1945      413
1946     1025
1947      894
1948      859
1949     1157
1950      524
1951      327
1952      574
1953      762
1954      578
1955      379
1956      374
1957      581
1958      581
1959      530
1960      929

#### (13) Test the null hypothesis that the median flow is 683 cfs. The alternate hypothesis is that is is less than 683, and alpha = 0.05

In [30]:
# 1) Choose the appropriate Test: this appears to be a sign test
# 2) Establish the null and alternate hypotheses. Null, median = 683. Alternate, median < 683 
# 3) Decide on an acceptable error rate α: 0.05
# 4) Compute the test statistic from the data: Observed number of minus differences in the dataset 
null_median = 683
alpha = 0.05
concecuh = conecuh[conecuh!=683]

differences = conecuh - null_median
test_stat = np.sum(differences < 0)
n_total = np.sum(differences !=0)
p_value = stats.binom.cdf(test_stat, n_total, 0.5)

print(f"Sample median: {np.median(conecuh):.2f}")
print(f"Total non-zero differences: {n_total}")
print(f"Test statistic: {test_stat}")
print(f"P-value", p_value)


if p_value < alpha:
    print("There is sufficient evidence to conclude that the median is less than 683 cfs.")
else:
    print("Fail to reject the null hypothesis.")
    print("There is not sufficient evidence to conclude that the median is less than 683 cfs.")

Sample median: 581.00
Total non-zero differences: Flowcfs    19
dtype: int64
Test statistic: Flowcfs    11
dtype: int64
P-value [0.82035828]
Fail to reject the null hypothesis.
There is not sufficient evidence to conclude that the median is less than 683 cfs.

/home/anna/miniconda3/lib/python3.9/site-packages/numpy/core/fromnumeric.py:86: FutureWarning: The behavior of DataFrame.sum with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)

### (14) Unit well yields, in gallons per minute per foot of water-bearing material, were contrasted for wells within valleys containing fracturing versus valleys with no fracturing (Wright, 1985). For the PPCC test for normality, r(with)=0.943 and r(without)=0.805. Perform the appropriate α = 0.05 test to discern whether fracturing is associated with higher mean unit well yield

In [43]:
# 1) Choose the appropriate Test: Rank-Sum test with large approximation, since n for both samples is > 10
# 2) Establish the null and alternate hypotheses. Null: u1 = u2. Alternate, u1 > u2. The two books states these differently. Hesel states these in terms of probability, but they are pretty much saying the same thing 
# 3) Decide on an acceptable error rate α: 0.05
# 4) Test Stat: Wilcoxon rank-sum test statistic 
yields_with = np.array([0.95, 0.72, 0.51, 0.44, 0.40, 0.30, 0.18, 0.16, 0.16, 0.13, 0.086, 0.031, 0.020])
yields_without =np.array([1.02, 0.49, 0.454, 0.10, 0.077, 0.041, 0.040, 0.030, 0.020, 0.007, 0.003, 0.001])

statistic, p_value = stats.mannwhitneyu(yields_with, yields_without, alternative='greater')
print('Test Statistic is:', statistic)
print('P Value is', p_value)
if p_value < 0.05:
    print('Reject the null. The means are not equal, fracturing is associated with a higher mean unit well yield ')

Test Statistic is: 112.5
P Value is 0.0321518820119779
Reject the null. The means are not equal, fracturing is associated with a higher mean unit well yield