In [ ]:
import pandas as pd
import numpy as np
from scipy import stats

monsoon_data = pd.read_csv('aismr-1871-2016-rain.txt', index_col=False, header=None, delim_whitespace=True)
monsoon_data.columns = ['Year', 'Rainfall']

/tmp/ipykernel_33173/739873458.py:5: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  monsoon_data = pd.read_csv('aismr-1871-2016-rain.txt', index_col=False, header=None, delim_whitespace=True)

In [35]:
monsoon_data

     Year  Rainfall
0    1871     84.87
1    1872     91.36
2    1873     75.73
3    1874     97.45
4    1875     92.97
..    ...       ...
141  2012     80.51
142  2013     94.73
143  2014     73.64
144  2015     72.81
145  2016     84.49

[146 rows x 2 columns]

### (a) Compute the confidence interval for mean and variance on the monsoon data using bootstrap

In [41]:

monsoon_array = monsoon_data['Rainfall'].values
n = len(monsoon_data['Rainfall'].values)

# Generate nsim bootstrap samples
nsim = 500

meansim = np.zeros(nsim)
varsim = np.zeros(nsim)
mediansim = np.zeros(nsim)

for i in range(nsim):
    xsamp = np.random.choice(monsoon_array, size=n, replace=True)
    
    meansim[i] = np.mean(xsamp)
    varsim[i] = np.var(xsamp, ddof=1)  # ddof=1 for sample variance
    mediansim[i] = np.median(xsamp)

# Confidence interval on the population mean
# assuming the data is Normally distributed
alpha = 0.05  # confidence level
alpha2 = alpha / 2

print(np.quantile(meansim, [alpha2, 1-alpha2]))
print(np.quantile(varsim, [alpha2, 1-alpha2]))
print(np.quantile(mediansim, [alpha2, 1-alpha2]))

[83.54442295 85.987     ]
[54.72710935 84.961868  ]
[84.67  87.565]